<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>Shopping Cart (Customer)</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container-fluid">

        <div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a class="navbar-brand" th:href="@{/}">
                    <img src="https://www.pngkit.com/png/full/467-4678852_shopping-cart-white-logo.png" width="50" height="50"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="topNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users}">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/customers}">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/brands}">Brands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cartItems}">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categories}">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/shipping}">Shipping Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/orders}">Orders</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div>
            <h2> Your Shopping Cart </h2>
            <br/>
        </div>

        <div class="row">
            <div class="col">
                <th:block th:each="item, status : ${cartItems}">
                    <div class="row border rounded" th:with="product = ${item.product}">
                        <div class="col">
                            <div>[[${status.count}]]</div>
                            <div>Remove Icon</div>
                        </div>
                        <div class="col">
                            <img src=""/>
                        </div>
                        <div>
                            <a>
                                <b>[[${product.name}]]</b>
                            </a>
                        </div>

                    </div>
                </th:block>
            </div>

            <div class="col">

            </div>
        </div>

        <div align="center">
            <h1>
                <font face="Copperplate" size="22">
                    <img src="https://images.all-free-download.com/images/graphicthumb/shopping_cart_312892.jpg">
                    <img src="https://images.all-free-download.com/images/graphicthumb/shopping_cart_312892.jpg">
                    <img src="https://images.all-free-download.com/images/graphicthumb/shopping_cart_312892.jpg">
                </font>
            </h1>
        </div>

        <div class="text-center">
            <p>GoShopping Control Panel - Copyright &copy; GoShopping</p>
        </div>
    </div>
</body>
</html>